@import "variables";

.classTable {
  #schoolHeader {

    width: $hour-width;

    height: 55px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

    div {
      position: relative;
      display: flex;

      input {
        width: 100%;
        padding: 3px;

        border: none;

        font-size: larger;

        border-radius: 10px;

        text-align: center;

      }

      input:hover {
        background-color: $light;
      }

      input:focus {
        outline: none;
      }

      button {
        border-radius: 10px;

        position: absolute;
        right: 0;

        width: 25px;
        height: 25px;

        opacity: 0;
      }
    }

    select, #classTeacherName {
      appearance: none;

      border: none;

      padding: 3px;

      border-radius: 5px;

      text-align: center;
    }

    select:focus {
      outline: none;
    }
  }

  #schoolHeader:hover {
    div {
      button {
        opacity: 1;
      }
    }
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  .day {
    border: 1px solid $mid;
    margin-left: -1px;
    margin-bottom: -1px;

    .hour {

      margin: 2px;

      height: $hour-height;
      width: $hour-width;

      position: relative;

      div {
        display: flex;
        justify-content: center;
      }

      #marker {
        position: absolute;
        top: -6px;
        left: -6px;

        z-index: 100;

        scale: 1.3;

        border-radius: 50%;

        transition: 0.2s;

        text-shadow: 0 0 6px $dark, 0 0 4px $dark;

        line-height: 20px;

        select {
          appearance: none;

          line-height: 20px;

          text-shadow: 0 0 6px $dark, 0 0 4px $dark;

          option {
            background-color: white;

            overflow: visible;
          }
        }

        select:focus {
          outline: none;
        }
      }

      #marker:hover {
        select {
          option {
            background-color: white;
          }
        }

        background-color: transparentize($dark, 0.7);
      }


      #classTeachers {
        height: $hour-height;

        flex: 1;

        border-radius: 5px;
        overflow: hidden;

        #classTeacher {
          width: 100%;

          select, div {
            padding-left: 3px;
            opacity: 0;

            height: calc($hour-height / 2);
            width: 100%;

            background-color: transparent;
            border: none;

            transition: 0.1s;

            appearance: none;

            text-align: center;
          }

          select:hover {
            background-color: transparentize($dark, 0.9);
          }

          select:focus {
            outline: none;
          }
        }

        #schoolTeacherAdd {
          top: 0;

          border-radius: 5px;

          position: absolute;

          right: 0;

          height: $hour-height;

          background-color: transparent;
          border: none;

          opacity: 0;
          transition: 0.2s;

          z-index: 100;
        }
      }

      #classSubjects {
        position: absolute;
        width: 100%;

        transition: 0.1s;

        z-index: 10;

        bottom: calc(($hour-height - 15px) / 2);

        main {
          width: 100%;

          display: flex;
          justify-content: center;

          select, div {
            background-color: transparent;
            border: none;

            appearance: none;

            text-align: center;
          }

          select {

            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            min-width: 50px;
          }

          select:hover {
            background-color: transparentize($dark, 0.9);
          }

          select:focus {
            outline: none;
          }
        }
      }

      .classAdd {
        height: 100%;


        button {
          border-radius: 5px;

          opacity: 0;
          scale: 0.5;

          border: none;
          width: 100%;

          font-size: xx-large;

          transition: 0.2s;
        }
      }
    }

    .hour:hover {

      #classTeachers {
        #classTeacher {
          select, div {
            opacity: 1;
            scale: 1;
          }
        }

        #schoolTeacherAdd {
          opacity: 1;
          background-color: transparentize($dark, 0.8);
        }

        #schoolTeacherAdd:hover {
          background-color: transparentize($dark, 0.6);
        }
      }

      #classSubjects {
        bottom: 0;
      }

      .classAdd {
        button {
          opacity: 1;
          scale: 1;

          background: $light;
        }
      }
    }
  }
}