* {
  font-family: monospace;
  -webkit-print-color-adjust: exact;
}

.circle {
  //todo click effect

  font-size: large;
  font-weight: bold;

  padding: 0;

  border-radius: 50%;
  border: none;

  //width: 20px;
  aspect-ratio: 1;

  background-color: lightgray;

  transition: 0.2s ease-out;
}

.circle:hover {
  background-color: darkgray;
}