* {
  font-family: monospace;
}

.circleButton {
  //todo click effect

  font-size: x-large;
  padding: 0;

  border-radius: 50%;
  border: none;

  width: 25px;
  aspect-ratio: 1;

  background-color: lightgray;

  transition: 0.2s ease-out;
}

.circleButton:hover {
  background-color: darkgray;
}